USE [QLBanHangSieuThi]
GO
/****** Object:  Table [dbo].[ChiTietHDB]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDB](
	[SoHDB] [nchar](10) NOT NULL,
	[MaVach] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiamGia] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_ChiTietHDB_1] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMHangHoa]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMHangHoa](
	[MaVach] [int] NOT NULL,
	[TenHangHoa] [nvarchar](50) NOT NULL,
	[MaNhom] [nvarchar](50) NOT NULL,
	[MaLoai] [nvarchar](50) NOT NULL,
	[NhapKhau] [nvarchar](50) NULL,
	[MaDonVi] [nvarchar](50) NOT NULL,
	[MaChatLieu] [nvarchar](50) NOT NULL,
	[MaCongDung] [nvarchar](50) NOT NULL,
	[MaNoiSX] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGiaNhap] [float] NULL,
	[DonGiaBan] [float] NULL,
	[Anh] [image] NULL,
	[GhiChu] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ReportHDB]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ReportHDB] as
select DMHangHoa.MaVach,TenHangHoa,DonGiaBan,ChiTietHDB.SoLuong as SoLuongBan,ThanhTien
from DMHangHoa join ChiTietHDB on DMHangHoa.MaVach = ChiTietHDB.MaVach
group by DMHangHoa.MaVach,TenHangHoa,DonGiaBan,ChiTietHDB.SoLuong,ThanhTien
GO
/****** Object:  Table [dbo].[CaLam]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLam](
	[MaCa] [nvarchar](50) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
 CONSTRAINT [PK_CaLam] PRIMARY KEY CLUSTERED 
(
	[MaCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[MaChatLieu] [nvarchar](50) NOT NULL,
	[TenChatLieu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChatLieu] PRIMARY KEY CLUSTERED 
(
	[MaChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHDN]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDN](
	[SoHDN] [nchar](10) NOT NULL,
	[MaVach] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NULL,
	[GiamGia] [float] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_ChiTietHDN] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongDung]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongDung](
	[MaCongDung] [nvarchar](50) NOT NULL,
	[TenCongDung] [nvarchar](50) NULL,
 CONSTRAINT [PK_CongDung] PRIMARY KEY CLUSTERED 
(
	[MaCongDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCV] [nvarchar](50) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[MaDonVi] [nvarchar](50) NOT NULL,
	[TenDonVi] [nvarchar](50) NULL,
 CONSTRAINT [PK_DonViTinh] PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[SoHDB] [nchar](10) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayBan] [date] NULL,
	[MaKhach] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_HoaDonBan] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[SoHDN] [nchar](10) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [nvarchar](50) NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhach] [nvarchar](50) NOT NULL,
	[TenKhach] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [nchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DienThoai] [int] NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[MaCV] [nvarchar](50) NULL,
	[MaCa] [nvarchar](50) NULL,
	[MaNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomHang]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomHang](
	[MaNhom] [nvarchar](50) NOT NULL,
	[TenNhom] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhomHang] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoiSanXuat]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoiSanXuat](
	[MaNoiSX] [nvarchar](50) NOT NULL,
	[TenNoiSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_NoiSanXuat] PRIMARY KEY CLUSTERED 
(
	[MaNoiSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/24/2021 1:54:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaLoai] [nvarchar](50) NOT NULL,
	[MaNhom] [nvarchar](50) NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'C01', N'Ca sáng')
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'C02', N'Ca chiều')
INSERT [dbo].[CaLam] ([MaCa], [TenCa]) VALUES (N'C03', N'Ca tối')
GO
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL01', N'Bột mì')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL03', N'Muối')
INSERT [dbo].[ChatLieu] ([MaChatLieu], [TenChatLieu]) VALUES (N'CL04', N'Nhựa')
GO
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaVach], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB01     ', N'1002', 2, NULL, NULL)
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaVach], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB01     ', N'1006', 1, NULL, NULL)
INSERT [dbo].[ChiTietHDB] ([SoHDB], [MaVach], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB02     ', N'1001', 3, NULL, NULL)
GO
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaVach], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN01     ', N'1001', 20, 25000, NULL, NULL)
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaVach], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN02     ', N'1002', 20, 60000, NULL, NULL)
INSERT [dbo].[ChiTietHDN] ([SoHDN], [MaVach], [SoLuong], [DonGia], [GiamGia], [ThanhTien]) VALUES (N'HDN03     ', N'1003', 20, 8000, NULL, NULL)
GO
INSERT [dbo].[CongDung] ([MaCongDung], [TenCongDung]) VALUES (N'CD01', N'Thức ăn')
INSERT [dbo].[CongDung] ([MaCongDung], [TenCongDung]) VALUES (N'CD02', N'Thêm vị cho thức ăn ')
INSERT [dbo].[CongDung] ([MaCongDung], [TenCongDung]) VALUES (N'CD03', N'Sinh hoạt hàng ngày')
GO
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV01', N'Thu Ngân')
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV02 ', N'Thủ Kho')
INSERT [dbo].[CongViec] ([MaCV], [TenCV]) VALUES (N'CV03', N'Bảo Vệ')
GO
INSERT [dbo].[DMHangHoa] ([MaVach], [TenHangHoa], [MaNhom], [MaLoai], [NhapKhau], [MaDonVi], [MaChatLieu], [MaCongDung], [MaNoiSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (1002, N'Mì tôm Hảo Hảo', N'N01', N'L02', N'Việt Nam', N'thung', N'CL01', N'CD01', N'NSX02', 0, 60000, 66000, NULL, NULL)
INSERT [dbo].[DMHangHoa] ([MaVach], [TenHangHoa], [MaNhom], [MaLoai], [NhapKhau], [MaDonVi], [MaChatLieu], [MaCongDung], [MaNoiSX], [SoLuong], [DonGiaNhap], [DonGiaBan], [Anh], [GhiChu]) VALUES (1003, N'Hạt nêm xương ống', N'N02', N'L03', N'Việt Nam', N'goi', N'CL03', N'CD02', N'NSX03', 0, 8000, 8800, NULL, NULL)
GO
INSERT [dbo].[DonViTinh] ([MaDonVi], [TenDonVi]) VALUES (N'chai', N'chai')
INSERT [dbo].[DonViTinh] ([MaDonVi], [TenDonVi]) VALUES (N'chiec', N'chiếc')
INSERT [dbo].[DonViTinh] ([MaDonVi], [TenDonVi]) VALUES (N'doi', N'đôi')
GO
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB01     ', N'NV01', CAST(N'2021-11-09' AS Date), N'KH01', NULL)
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB02     ', N'NV02', CAST(N'2021-11-01' AS Date), N'KH02', NULL)
INSERT [dbo].[HoaDonBan] ([SoHDB], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB03     ', N'NV04', CAST(N'2021-11-10' AS Date), N'KH03', NULL)
GO
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN01     ', N'NV03', CAST(N'2021-10-10' AS Date), N'NCC01', NULL)
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN02     ', N'NV05', CAST(N'2021-10-28' AS Date), N'NCC04', NULL)
INSERT [dbo].[HoaDonNhap] ([SoHDN], [MaNV], [NgayNhap], [MaNCC], [TongTien]) VALUES (N'HDN03     ', N'NV05', CAST(N'2021-11-02' AS Date), N'NCC04', NULL)
GO
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH01', N'Vũ Huy Hà', N'Bắc Ninh', N'0399452361')
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH02', N'Đinh Trung Tiến', N'Nam Định', N'0352616298')
INSERT [dbo].[KhachHang] ([MaKhach], [TenKhach], [DiaChi], [DienThoai]) VALUES (N'KH03', N'Hà Ngọc Tuấn', N'Bắc Ninh ', N'0362560287')
GO
INSERT [dbo].[Login] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'admin')
INSERT [dbo].[Login] ([TaiKhoan], [MatKhau]) VALUES (N'dai', N'dai')
INSERT [dbo].[Login] ([TaiKhoan], [MatKhau]) VALUES (N'duc', N'duc')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC01     ', N'Nestle', N'Hà Nội', 968689999)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC02     ', N'Lock&Lock', N'Bắc Ninh', 867442298)
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [DienThoai]) VALUES (N'NCC03     ', N'Klever Fruits', N'TP HCM', 967445633)
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV], [MaCa], [MaNhom]) VALUES (N'NV01', N'Nguyễn Đăng Duy', N'Nam', CAST(N'2001-06-03' AS Date), N'0123456789', N'Thanh Hóa', N'CV01', N'C01', N'N01')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV], [MaCa], [MaNhom]) VALUES (N'NV02', N'Nguyễn Thị Viết Dũng', N'Nữ', CAST(N'2003-04-01' AS Date), N'0324455667', N'Hà Nội', N'CV01', N'C02', N'N02')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DienThoai], [DiaChi], [MaCV], [MaCa], [MaNhom]) VALUES (N'NV03', N'Đỗ Phúc Đại', N'Nam', CAST(N'2001-12-04' AS Date), N'0366662314', N'Hải Phòng', N'CV02', N'C03', N'N03')
GO
INSERT [dbo].[NhomHang] ([MaNhom], [TenNhom]) VALUES (N'N01', N'ăn')
INSERT [dbo].[NhomHang] ([MaNhom], [TenNhom]) VALUES (N'N02', N'gia vị')
INSERT [dbo].[NhomHang] ([MaNhom], [TenNhom]) VALUES (N'N03', N'gia dụng')
GO
INSERT [dbo].[NoiSanXuat] ([MaNoiSX], [TenNoiSX]) VALUES (N'NSX01', N'Nhà máy OneOne')
INSERT [dbo].[NoiSanXuat] ([MaNoiSX], [TenNoiSX]) VALUES (N'NSX02', N'Nhà máy Acecook')
INSERT [dbo].[NoiSanXuat] ([MaNoiSX], [TenNoiSX]) VALUES (N'NSX03', N'Nhà máy Knor')
GO
INSERT [dbo].[TheLoai] ([MaLoai], [MaNhom], [TenLoai]) VALUES (N'L01', N'N01', N'Bánh kẹo')
INSERT [dbo].[TheLoai] ([MaLoai], [MaNhom], [TenLoai]) VALUES (N'L02', N'N01', N'Mì tôm')
INSERT [dbo].[TheLoai] ([MaLoai], [MaNhom], [TenLoai]) VALUES (N'L03', N'N02', N'Hạt nêm')
GO
/****** Object:  StoredProcedure [dbo].[HD_NV]    Script Date: 11/24/2021 1:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[HD_NV] @manv nvarchar(5)
as 
begin
select HoaDonBan.SoHDB,DonGiaBan * ChiTietHDB.SoLuong as TongTien 
from DMHangHoa join ChiTietHDB on DMHangHoa.MaVach = ChiTietHDB.MaVach join HoaDonBan on ChiTietHDB.SoHDB = HoaDonBan.SoHDB 
where MaNV = @manv
group by HoaDonBan.SoHDB,DonGiaBan,ChiTietHDB.SoLuong
end
GO
/****** Object:  StoredProcedure [dbo].[HDNhieuNhatNam]    Script Date: 11/24/2021 1:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[HDNhieuNhatNam] @nam int
as 
begin
select top 3 ChiTietHDN.SoHDN,NgayNhap,SoLuong,DonGia,(SoLuong*DonGia) as TongTienNhap 
from ChiTietHDN join HoaDonNhap on ChiTietHDN.SoHDN = HoaDonNhap.SoHDN 
where year(NgayNhap) = @nam 
group by ChiTietHDN.SoHDN,NgayNhap,SoLuong,DonGia 
order by TongTienNhap desc
end
GO
/****** Object:  StoredProcedure [dbo].[SPBanChay]    Script Date: 11/24/2021 1:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SPBanChay] @thang int
as 
begin
    select top 3 DMHangHoa.MaVach,TenHangHoa,MaNhom,MaLoai,NhapKhau,MaDonVi,MaChatLieu,MaCongDung,MaNoiSX,ChiTietHDB.SoLuong as SoLuongBan
	from DMHangHoa join ChiTietHDB on DMHangHoa.MaVach = ChiTietHDB.MaVach
	join HoaDonBan on ChiTietHDB.SoHDB = HoaDonBan.SoHDB
	where MONTH(NgayBan) = @thang 
	group by DMHangHoa.MaVach,TenHangHoa,MaNhom,MaLoai,NhapKhau,MaDonVi,MaChatLieu,MaCongDung,MaNoiSX,ChiTietHDB.SoLuong 
	order by ChiTietHDB.SoLuong desc
end
GO
/****** Object:  StoredProcedure [dbo].[TopKhachHang]    Script Date: 11/24/2021 1:54:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TopKhachHang] @month1 int, @month2 int, @month3 int
as begin
	select top 3 KhachHang.MaKhach, TenKhach,DiaChi,DienThoai,count(SoHDB) as SoLuongMua 
	from KhachHang join HoaDonBan on KhachHang.MaKhach = HoaDonBan.MaKhach 
	where MONTH(NgayBan) = @month1 or MONTH(NgayBan) = @month2 or MONTH(NgayBan) = @month3
	group by KhachHang.MaKhach, TenKhach,DiaChi,DienThoai 
	order by SoLuongMua asc
end
GO
